/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.feedback-form .card .card-content .content {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
}